@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
:root {
    --color: #FAF4F1;
}
* {
    margin: 0;
    padding: 0;
    font-family:"Helvetica Neue", Helvetica, Arial;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    letter-spacing: .2em;
    outline: none;
    transition: .2s linear;
}
body, html {
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
section {
    padding: 3rem 13%;
}
.font {
    display: flex;
    min-height: 100vh;
    background-image: url('img/font-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    align-items: center;
    text-align: center;
}
.font div {
    margin: auto;
}
.font div h1 {
    color: #fff;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: .2em;
}
.font div span {
    display: block;
    font-family: "Dancing, sans-serif";
    font-style: italic;
    font-size: 200px;
    color: rgba(78, 78, 78, 0.3);
    margin-top: -6rem;
    font-weight: 100;
    margin-left: -4rem;
    text-transform: lowercase;
}
.home, .shop {
    margin-bottom: 5rem;
}
.home .navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home .navbar .navbar-container {
    text-align: center;
}
.home .navbar .navbar-container {
    display: flex;
}
h1 {
    line-height: 3rem;
    font-size: 2rem;
    color: 000000;
}
p {
    color: #9E9E9E;
    font-weight: bold;
    font-size: .7rem;
    line-height: 1.2rem;
    letter-spacing: .3em;
}
.home .navbar nav {
    display: flex;
    align-items: center;
    margin: 0 5rem;
}
.home .navbar .navbar-container nav a {
    color: rgb(73, 73, 73);
    font-size: 12px;
    padding-right: 3rem;
    font-weight: 800;
}
.home .navbar .navbar-container nav a:hover {
    text-decoration: underline;
}
.btn {
    font-size: 12px;
    color: white;
    background-color: black;
    font-weight: 600;
    padding: 17px 50px;
    transition: color .2s ease-out, backgound-color .2s ease-out, border-color .2s ease-out;
    cursor: pointer;
    align-self: center;
}
.btn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
.home-container {
    text-align: center;
    margin-top: 5rem;
}
.home-container p {
    color: rgb(49, 49, 49);
    margin-bottom: 20px;
}
.home-container h1 {
    font-size: 39px;
}
.home-container .home-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 30rem;
}
.home-container .home-img .img {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.home-container .home-img img {
    height: 50vh;
    border-radius: .1rem;
    box-shadow: -1px 0 0.6rem 0.1px #626c6c;
    margin-bottom: 20px;
    margin-top: 4rem;
    transition: transform .3s ease-out;
}
.home-container .home-img img:hover {
    transform: translateY(-.6rem);
}
.home-container .home-img h1 {
    font-size: 18px;
}
.home-container .home-img p {
    color: #707070;
    letter-spacing: 1px;
    font-family: 'poppins';
    font-weight: 500;
}
.woocomerce {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
}
.woocomerce img {
    width: 50%;
    height: 90vh;
}
.woocomerce .woo-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: end;
    padding-bottom: 2rem;
}
.woocomerce .woo-container .woo-content {
    padding-left: 6rem;
    display: flex;
}
.woocomerce .woo-container .woo-content div {
    margin-top: -12px;
    padding-left: 2rem;
    margin-bottom: 5rem;
    width: 50%;
}
.woocomerce .woo-container .woo-content i {
    color: white;
    font-size: 2rem;
}
.woocomerce .woo-container .woo-content div h1 {
    color: white;
    font-size: 22px;
}
.woocomerce .woo-container .woo-content div p {
    color: #cecece;
    font-size: 15px;
    margin-top: 17px;
    font-weight: normal;
    letter-spacing: normal;
    font-family: 'poppins';
    text-transform: capitalize;
    line-height: 25px;
}
.shop .home-container .home-img .img img {
    height: 28vh;
}
.blog {
    background-color: #FAF4F1;
    padding-right: 0;
}
.blog .blog-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 6rem 0;
}
.blog .blog-container .content, .quote {
    width: 20%;
}
.blog .blog-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog .blog-container .img {
    width: 58%;
    text-align: right;
}
.blog .blog-container .content h1 {
    font-size: 30px;
    letter-spacing: normal;
    color: #6b21001a;
    font-family: "Playwrite PL", 'cursive';
}
.blog .blog-container .content h2 {
    font-size: 28px;
    margin-top: 20px;
    font-weight: 700;
}
.blog .blog-container .content p {
    margin-top: 2rem;
    line-height: 1.7rem;
}
.blog .blog-container .content a {
    color: black;
    position: relative;
    font-size: 12px;
    margin-top: 2.5rem;
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s ease;
}
.blog .blog-container .content a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 30%;
    height: 2px;
    background-color: #000;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}
.blog .blog-container .content a:hover::after {
    transform: scaleX(1);
}
.blog .blog-container .img img {
    height: 45vh;
    padding-right: 5rem;
    border-radius: 1rem;
}
.blog .blog-container .quote {
    background-color: white;
    padding: 30px 0px 30px 33px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: self-start;
    box-shadow: 0 0 1rem .1rem #b3b3b3;
    margin-top: 30px;
}
.blog .blog-container .quote p {
    margin-top: 20px;
    color: black;
    letter-spacing: .01rem;
    font-weight: 400;
}
.blog .blog-container .quote .authon {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}
.blog .blog-container .quote .authon img {
    height: 50px;
}
.blog .blog-container .quote .authon div {
    align-self: center;
}
.blog .blog-container .quote .authon div h4{
    font-size: .8rem;
}
.blog .blog-container .quote .authon div p {
    margin-top: 7px;
    color: #6c6c6c;
}
.second {
    background-color: #fff;
    padding: 8rem;
}
.second .blog-container .img {
    width: 50%;
    text-align: left;
}
.woo .woo-container .woo-content h1 {
    font-size: 24px;
    letter-spacing: .4rem;
    font-weight: 700;
}
.woo .woo-container .woo-content div {
    width: 60%;
    padding-left: 0;
    height: 15vh;
}
.woo .woo-container .woo-content .btn {
    background-color: white;
    color: black;
    margin-top: 3rem;
}
.woo .woo-container .woo-content .btn:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
}
.shopping {
    padding-bottom: 5rem;
    margin-bottom: 0;
}
















@media only screen and (max-width:991px) {
    .home-container .home-img {
        display: block;
    }
    .home-container .home-img img {
        width: 100%;
        height: 100%;
    }
    .woocomerce {
        display: block;
    }
    .woocomerce img {
        width: 100%;
        height: 90vh;
    }
    .woocomerce .woo-container {
        width: 100%;
        height: 90vh;
        justify-content: center;
        padding-bottom: 0;
        padding-top: 2rem;
    }
}
@media only screen and (max-width:768px) {
    .home .navbar-container nav {
        display: none;
    }
    section {
        padding: 3rem 10%;
    }
}

@media only screen and (max-width:450px) {
    .home .navbar-container nav {
        display: none;
    }
    .home .navbar {
        justify-content: center;
    }
    section {
        padding: 3rem 10%;
    }
}
.shopping {
    background-color: var(--color);
}
.woo {
    background: white;
    margin: 0;
    color: black;
    margin-top: 3rem;
}